/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    footer {
        height: 150px;
        ul{
           flex-direction: column;
           margin-top: 30px;
       }
       li{
           margin-bottom: 10px;
           a{
               margin:  0;
           }
       }
       
    }
   
    .bloque{
        flex-direction: column;
    }

}

@media screen and (max-width: 992px) {
    
    nav {
        flex-direction: column;
        ul{
           flex-direction: column;
           li{
               margin-bottom: 20px;
           }
       
       }
    }
    
}