/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    footer {

        flex-direction: column;
        justify-content: center;

        ul{
            margin: 0;
            li{
                a{
                   margin: 3px;
                }
            }
        }       
    }
   
    .bloque{
        flex-direction: column;
    }

    .bloqueparrafosomos{
        height: 800px;
        p{
            font-size: 1.2rem;
        }
    }
    
    .bloqueparrafomision{
        height: 800px;
    }

    .bloqueimg{
        width: 100%;
    }
    .bloqueparrafo{
        width: 100%;
    }    

}

@media screen and (max-width: 992px) {
    
    nav {
        flex-direction: column;
        ul{
           flex-direction: column;
           li{
               margin-bottom: 20px;
           }
       
       }
    }
    
}